@import "English/CAADocStyleSheets/caav5.css";
h1 {
	font-weight:  normal ;
	font-family: Arial;
	font-size: 16pt;
	color:  #4B575F;
	padding: 4px;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 4px;
	}

a:hover  {
	/* background: #FFFFFF; */ 
	/* color: #562E18; */
	/*text-decoration: underline;*/ 
	text-decoration: none; 
	}
