@import "CAADocMap.css";

a.tooltip em {
    display:none;
}
a.tooltip:hover {
    border: 0;
    position: relative;
    z-index: 500;
    text-decoration:none;
}
a.tooltip:hover em {
    font-style: normal;
    display: block;
    position: absolute;
    top: 20px;
    left: -10px;
    padding: 5px;
    color: #000;
    border: 1px solid #bbb;
    background: #ffc;
    width:170px;
}
a.tooltip:hover em span {
    position: absolute;
    top: -7px;
    left: 15px;
    height: 7px;
    width: 11px;
/*    background: transparent url(images/infobulletop00.gif); */
    margin:0;
    padding: 0;
    border: 0;
}





a.map em {
    display:none;
}
a.map:link {
	text-decoration: none;
}
a.map:visited {
	text-decoration: none;
} 
a.map:hover {
	text-decoration: none;
	background-color: transparent;
  border: 0;
  position: relative;
  z-index: 500;
  text-decoration:none;
}
a.map:hover em {
    font-style: normal;
    display: block;
    position: absolute;
    top: 20px;
    left: -10px;
    padding: 5px;
    color: #000;
    border: 1px solid #bbb;
    background: #FFFFFF;
/*    background: #ffc; */
/*    width:170px; */
    width:300px;
    text-align: left;
}
a.map:hover em span {
    position: absolute;
    top: -7px;
    left: 15px;
/*    height: 7px;
    width: 11px; */
    height: 11px;
    width: 15px;
/*    background: transparent url('../CAADocQuickRefs/images/infobulletop00.gif'); */
/*    background: transparent url('../CAADocQuickRefs/images/infobullet01.png'); */
    margin:0;
    padding: 0;
    border: 0;
}




a.mapH em {
    display:none;
}
a.mapH:link {
	color: #FFFFFF;
	text-decoration: none;
}
a.mapH:visited {
	color: #FFFFFF;
	text-decoration: none;
} 
a.mapH:hover {
    font-style: normal;
	color: #FFFFFF;
	text-decoration: none;
	background-color: transparent;
	    border: 0;
    position: relative;
    z-index: 500;
}
a.mapH:hover em {
    font-style: normal;
    display: block;
    position: absolute;
    top: 20px;
    left: -10px;
    padding: 5px;
    color: #000;
    border: 1px solid #bbb;
/*    background: #ffc; */
	 background: #FFFFFF;
    width:300px;
    text-align: left;
}
a.mapH:hover em span {
    font-style: normal;
    position: absolute;
    top: -7px;
    left: 15px;
    height: 7px;
    width: 11px;
    /*background: transparent url('../CAADocQuickRefs/images/infobulletop00.gif'); */
    background: transparent url('../CAADocQuickRefs/images/infobullet01.png');
    margin:0;
    padding: 0;
    border: 0;
}

a.mapR:hover em {
    left: -200px;
}

a.mapR:hover em span {
    left: 200px;
}
